@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.logo{
  font-family: 'Kalnia', serif;
  font-size: 100px;
  text-align: center;
}
.description{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  
  height: 20%;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.buttons{
  
  
  display: flex;
  justify-content: center;
}
button{
  margin: 50px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color:black;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
button:hover{
  color:white;
  background-color: black;
}