p{
    font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
}
.mybutton{
    margin: 50px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    color:black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  .mybutton:hover{
    color:white;
    background-color: black;
  }
  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }