@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo{
  font-family: 'Kalnia', serif;
  font-size: 50px;
  
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px black;
    align-items: center;
}
.nav-btns{
    display: flex;
    justify-content:space-evenly;
    font-size: larger;
    width: 300px;
    
}
.shop-btns{
    display: flex;
    justify-content:space-evenly;
    font-size: larger;
    width: 100px;
}
.nav-cart{
    transition: transform 0.2s;
}
.nav-cart:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.nav-user{
    transition: transform 0.2s;
}
.nav-user:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.nav-btns>div:hover{
  font-weight: bold;
  cursor: pointer;
}